@import "tailwindcss";

:root {
  --background: #0b1220;     /* deep navy/near-black */
  --foreground: #e6edf7;     /* soft white */

  --card: #0f172a;           /* dark card background */
  --border: #1f2a44;         /* subtle borders */
  --muted: #a7b4c7;          /* muted text */
  --muted-2: #7c8aa3;        /* secondary muted text */

  --primary: #0a66c2;        /* LinkedIn blue accent */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
